<div class="back">
  <h2>Entre em contato</h2>
  <div class="contact-ways">
    <div class="contact">
      <h3>Whatsapp</h3>
      <div>
        <i class="fa-brands fa-whatsapp"></i>
        <p>+55 (15)99128-7775</p>
        <button (click)="copyData('+55(18)981709943')"><i class="fa-regular fa-copy"></i></button>
      </div>
    </div>
    <div class="contact">
      <h3>Telefone</h3>
      <div>
        <i class="fa-solid fa-phone"></i>
        <p>(15)3227-1120</p>
        <button (click)="copyData('(15)3227-1120')"><i class="fa-regular fa-copy"></i></button>
      </div>
    </div>
    <div class="contact">
      <h3>Email</h3>
      <div>
        <i class="fa-regular fa-envelope"></i>
        <p>idealanalises1&#64;gmail.com</p>
        <button (click)="copyData('idealanalises1@gmail.com')"><i class="fa-regular fa-copy"></i></button>
      </div>
    </div>
  </div>

  <div class="location">
    <i class="fa-solid fa-map-location-dot"></i>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.5233138730573!2d-47.4327517!3d-23.5136733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf61074fc50451%3A0xfb191c4d5818f9e4!2sIDEAL%20An%C3%A1lises%20Agr%C3%ADcolas%20e%20T%C3%A9cnicas%20LTDA!5e0!3m2!1spt-BR!2sbr!4v1726503072810!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Ideal" class="map"></iframe>
    </div>
  </div>
</div>
