<footer>
  <div class="back">
    <div class="social">
      <img src="./assets/logo/logo-500.png" alt="Ideal Logo">
      <div class="links">
        <a href="https://wa.me/5515991287775?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20seus%20servi%C3%A7os" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
    <div class="address">
      <p>Rua Guilherme Penha, 75</p>
      <p>Bloco 3 - Vila Colorau</p>
      <p>Sorocaba - SP</p>
      <p>18020-615</p>
    </div>
  </div>
  <p class="copyright">Copyright © 2024 IDEAL Análises Agrícolas e Técnicas LTDA. Todos os direitos reservados.</p>
</footer>
