<div class="back">
  <div class="container">
    <h2>Quem Somos</h2>
    <p>Somos um laboratório especializado em análise de solo, com mais de 25 anos de experiência no mercado agrícola. Nosso objetivo é fornecer informações técnicas e de confiança para que produtores possam tomar decisões estratégicas sobre o manejo de suas terras. Utilizamos tecnologias avançadas para garantir precisão em cada análise, sempre priorizando o atendimento personalizado.  </p>
  </div>
  <img src="/assets/about/entrada.jpeg" alt="Entrada da empresa">
  <div class="services">
    <h2>Nossos Serviços</h2>
    <p>Oferecemos uma variedade de análises para atender às suas necessidades específicas:</p>
    <div class="service">
      <h3>Análise Física do Solo</h3>
      <p>Determinação da granulometria do solo (areia grossa, areia fina, silte e argila).</p>
    </div>
    <div class="service">
      <h3>Análise Química</h3>
      <p>Verificação de macros e micros nutrientes presentes no solo.</p>
    </div>
    <div class="service">
      <h3>Análise de pH</h3>
      <p>Monitoramento do nível de acidez ou alcalinidade do solo, fator crucial para o desenvolvimento das culturas.</p>
    </div>
  </div>
</div>
