<div class="back">
  <div class="first-section">
    <img src="/assets/bg/bg-hero.jpg" alt="Terra com uma planta">
    <div class="content">
      <h2>Transforme a Qualidade do Seu Solo em Resultados Concretos</h2>
      <p>Na Ideal, oferecemos análises detalhadas e personalizadas para agricultores, produtores e profissionais da área. Nossos serviços garantem que você conheça a fundo as características do seu solo, otimizando o uso de fertilizantes e melhorando a produtividade das suas lavouras.</p>
    </div>
  </div>
  <div class="second-section">
    <h2>Destaques</h2>
    <div class="highlights">
      <div class="highlight">
        <i class="fa-solid fa-square-poll-vertical"></i>
        <p>Resultados rápidos e precisos</p>
      </div>
      <div class="highlight">
        <i class="fa-solid fa-microscope"></i>
        <p>Equipamentos de última geração</p>
      </div>
      <div class="highlight">
        <i class="fa-solid fa-people-group"></i>
        <p>Equipe técnica altamente qualificada</p>
      </div>
    </div>
  </div>
</div>
